@font-face {
  font-family: "IBM Plex Mono Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6qfjptAgt5VM-kVkqdyU8n3vAOwlBFgg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

.info-box {
  width: auto;
  font-family: "IBM Plex Mono Bold";
  font-size: 1.15em;
  color: whitesmoke;
  position: absolute;
  right: 0;
  top: 0;
}

.me-8bit:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.offsite-nav {
  background-color: transparent;
  float: left;
  padding: 10px;
  margin-left: 5px;
  border-radius: 9999px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

.offsite-nav:hover {
  color: #00ff00;
}

.popup {
  color: #00ff00;
  background-color: #121417;
  border-style: solid;
  border-width: 1px;
  border-color: #00ff00;
  font-family: "IBM Plex Mono";
  font-size: 1.15em;
  max-width: 450px;
  min-width: 100px;
  padding: 5px;
  float: left;
}

.header-link {
  color: #00ff00;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.header-link:hover {
  cursor: pointer;
  color: #00ff73;
  text-shadow: 0 0 7px #008f00, 0 0 10px #008f00;
  transition: 0.2s ease;
  cursor: pointer;
}
