.info-box {
  width: auto;
  font-family: "IBM Plex Mono Bold";
  font-size: 1.15em;
  color: whitesmoke;
  position: absolute;
  right: 0;
  top: 0;
}

.offsite-nav {
  background-color: transparent;
  float: left;
  padding: 10px;
  margin-left: 5px;
  border-radius: 9999px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

.offsite-nav:hover {
  color: #00ff00;
}

.popup {
  color: #00ff00;
  background-color: #121417;
  border-style: solid;
  border-width: 1px;
  border-color: #00ff00;
  font-family: "IBM Plex Mono";
  font-size: 1.15em;
  max-width: 450px;
  min-width: 100px;
  padding: 5px;
  float: left;
}
